.sologanFollowUser {
  text-align: center;
  font-size: 34px;
  color: gray;
}

.followUser {
  display: flex;
}

.wrapperFollowUser {
  margin: 0 200px;
}

.listFollowUser {
  display: flex;
  flex-wrap: wrap;
}

.itemFollowUser {
  margin-bottom: 15px;
}

/* phone and table */
@media (max-width: 1023px) {
  .wrapperFollowUser {
    margin: 0;
  }
  .sologanFollowUser {
    font-size: 18px;
    color: #000;
    text-align: start;
    margin: 0 69px 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
  }
}
