.IconCancle {
  position: absolute;
  top: 110px;
  right: 50px;
}

.listGame {
  list-style: none;
  font-style: italic;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 50px;
}

.ItemListGame {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  cursor: pointer;
}

.ItemListGame .MuiPaper-root {
  font-size: 20px;
  background: rgb(233 233 233 / 50%);
  width: 100%;
  flex: 1;
}

.titleGame {
  text-align: center;
}

.InputListCreateOrUpdateGame {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.InputListCreateOrUpdateGame input,
.InputListCreateOrUpdateGame textarea {
  margin: 5px 0;
  border: 1px solid gray;
  font-size: 18px;
  padding: 5px;
}

.InputListCreateOrUpdateGame input,
.InputListCreateOrUpdateGame textarea:focus {
  outline: none;
}

/* phone and table */
@media (max-width: 1023px) {
  #root .container-fluid {
    padding: initial;
    height: 100vh;
  }
  .listGame {
    width: 100%;
  }
}
